*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width:100% ;
    height:100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('sfondo4.jpg');
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow-y:hidden ;
}
hr{
    border-color:green;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.social-icon{
    color:yellowgreen;
    width: 25px;
    margin-left: 40px;
}
.social-icon:hover{
    color:yellow;
}
.m:hover{
    color:yellow;
}
.logo{
    width: 90px;
    cursor: pointer;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color:yellowgreen;
    font-style: 13px;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color:yellow;
    font-size: 90px;
}
p{
    color: yellowgreen;
    font-size: 20px;
    line-height: 15px;
}
button{
    width: 180px;
    color:black ;
    font-size: 12px ;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 10px;
    outline: none;
    margin-top: 30px;
}
button:hover{
    background:yellow;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url('chitarra7.jpg');

}
.card2{
    background-image: url('chitarra9.jpg');
}
.card3{
    background-image: url('chitarra6.jpg');
}
.card4{
    background-image:url('chitarra8.jpg') ;
}
.card:hover{
    transform: translateY(-10px);
}
h5{
    color:black ;
    text-shadow: 0 0 5px #333;
    font-size: 17px;
}